<!--
  Generated template for the LessonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>我的课程</ion-title>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="goTo_search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides [centeredSlides]="false" [autoplay]="1500" [loop]="true" [pager]="true" [zoom]="true">
      <ion-slide>
        <div>
          <img src="./assets/imgs/pic1.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <img src="./assets/imgs/pic2.jpg">
      </ion-slide>
      <ion-slide>
        <img src="./assets/imgs/pic3.jpg">
      </ion-slide>
      <ion-slide>
        <img src="./assets/imgs/pic4.jpg">
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-icon name="md-arrow-dropdown"></ion-icon>
      个性化推荐
    </ion-list-header>
    <div *ngFor="let item of Json_recommend">
      <ion-item-sliding>
        <ion-item>
          <div item-start>
            <img style="width: 120px; height: 80px;" src="{{item.imgSrc}}">
          </div>
          <h2>{{item.title}}</h2>
          <p text-wrap>{{item.description}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button (click)="showToast(1,item.id)" ion-button color="secondary">
            <ion-icon><img style="width: 26px;height: 26px;" src="./assets/imgs/like.png"></ion-icon>
            感兴趣
          </button>
          <button (click)="showToast(-1,item.id)" ion-button color="danger">
            <ion-icon><img style="width: 26px;height: 26px;" src="./assets/imgs/unlike.png"></ion-icon>
            没兴趣
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-icon name="md-arrow-dropdown"></ion-icon>
      热门课程
    </ion-list-header>
    <div *ngFor="let item of Json_hot">
      <ion-item-sliding>
        <ion-item>
          <div item-start>
            <img style="width: 120px; height: 80px;" src="{{item.imgSrc}}">
          </div>
          <h2>{{item.title}}</h2>
          <p text-wrap>{{item.description}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button (click)="showToast(2,item.id)" ion-button style="background: hotpink">
            <ion-icon><img style="width: 26px;height: 26px;" src="./assets/imgs/collection.png"></ion-icon>
            收藏
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>

</ion-content>
